POSTGRES_USER = "your-user-database"
POSTGRES_DB = "your-name-database"
POSTGRES_PASSWORD = "you-password-database"

DATABASE_URL = "postgresql+psycopg://user:password@localhost:5432/database"
SECRET_KEY = "your-secret-key"
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 30

FIREBASE_CREDENTIALS = "your-Firebase-key"