services:
  debt_control_database:
    image: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: debt
      POSTGRES_DB: debt_db
      POSTGRES_PASSWORD: debtpg
    ports:
      - "5432:5432"

  debt_control_app:
    image: debt_control_app
    entrypoint: ./entrypoint.sh
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - debt_control_database
    environment:
      DATABASE_URL: postgresql+psycopg://debt:debtpg@debt_control_database:5432/debt_db

volumes:
  pgdata: